.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

.header {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
}

.main {
  margin: 0 auto;
  max-width: 800px;
}

.main p {
  margin-bottom: 1.6rem;
  line-height: 1.45rem;
}

.footer {
  border-top: 1px solid #eaeaea;
  padding: 2rem 0;
  text-align: center;
  width: 100%;
}

ul.horizontalList {
  padding-left: 0;
}

ul.horizontalList li {
  display: inline-block;
  margin-right: 1rem;
}

ul.horizontalList li::before {
  content: '⬛';
  padding-right: 0.3rem;
}

div.arrowsAndChapterNumberInput {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1rem;
}

form.inputNumber {
  margin-bottom: 0.8rem;
  text-align: left;
}

form.inputNumber label {
  margin-right: 0.5rem;
}

form.inputNumber input {
  height: 30px;
  width: 35px;
  margin-right: 1rem;
  padding-left: 10px;
}

div.prevAndNextIcons button:first-of-type {
  margin-right: 1rem;
}

div.prevAndNextIcons button {
  font-size: 1.4rem;
}
